<div class="content-card @AdditionalClass" style="@Style">
    @if (Header != null)
    {
        <div class="content-card-header">
            @Header
        </div>
    }
    <div class="content-card-body">
        @ChildContent
    </div>
    @if (Footer != null)
    {
        <div class="content-card-footer">
            @Footer
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? Header { get; set; }
    [Parameter] public RenderFragment? Footer { get; set; }
    [Parameter] public string? AdditionalClass { get; set; }
    [Parameter] public string? Style { get; set; }
}